.navbar {
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-right: 50px;
}
.navlink {
   text-decoration: none;
   color:cornflowerblue;
   font-size: 15px;
   font-weight: 600;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login {
    margin-top: 50px;
}
.login>h2{
    color:cornflowerblue;
}
.signup {
    margin-top: 50px;
}
.signup>h2{
    color:cornflowerblue;
}
.profile_main {
    margin-top: 50px;
    display: flex;
    margin-left: 40%;
    gap:35px
}
.profile {
    width:250px;
    height:300px;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.profile>img {
    margin-top: 30px;
    width:80px;
    height: 80px;
    border-radius: 50%;
}